body {
    background-color: #ebebeb;
}

/*     header     */
header {
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 10;
    display: flex;
    width: 100%;
    height: 6vw;
    justify-content: space-between;
    background-color: #EBEBEB;
    border-bottom: 0.5vw solid #1d4988;
}

#pag_empregos .link_header_empregos {
    background-color: #1d4988;
    color: #f7f7f7;
}

#pag_educacao {
    border-bottom-color: #7478AD;
}

#pag_educacao .link_header_educacao {
    background-color:#7478AD;
    color: #f7f7f7;
}

#pag_esportes {
    border-bottom-color: #51BF2C;
}

#pag_esportes .link_header_esportes {
    background-color:#51BF2C;
    color: #f7f7f7;
}

#pag_entretenimento {
    border-bottom-color: #F3A807;
}

#pag_entretenimento .link_header_entretenimento {
    background-color:#F3A807;
    color: #f7f7f7;
}

#pag_economia {
    border-bottom-color: #D93D4A;
}

#pag_economia .link_header_economia {
    background-color:#D93D4A;
    color: #f7f7f7;
}

/*  logos  */
/*desktop*/
#logo_header_desktop {
    height: 5vw;
    margin: 0.3vw 1vw;
}

/*mobile*/
#logo_header_mobile, #menu_hamburger {
    display: none;
}

/*nav*/

.links_paginas_categorias {
    display: flex;
    list-style: none;
    font-size: 1.5vw;
}

.links_paginas_categorias li {
    margin-top: 1.5vw;
    margin-left: 2vw;
}

#links_da_pag_entretenimento li {
    margin-left: 1.5vw;
}

header a {
    text-decoration: none;
    padding: 0.05vw 0.5vw 0.5vw;
    font-weight: 600;
    border-radius: 10px;
}

header a:hover {
    color: #F7F7F7;
}

#container_do_link_da_pagina_aberta {
    margin-top: 0.05vw;
    padding-top: 0.2vw;
}

#link_da_pagina_aberta {
    font-size: 2.8vw;
}

.link_header_empregos {
    color: #1d4988;
}

.link_header_empregos:hover {
    background-color: #1d4988;
}

.link_header_educacao {
    color: #7478AD;
}

.link_header_educacao:hover {
    background-color: #7478AD;
}

.link_header_esportes {
    color: #51BF2C
}

.link_header_esportes:hover {
    background-color: #51BF2C;
}

.link_header_entretenimento {
    color: #F3A807
}

.link_header_entretenimento:hover {
    background-color: #F3A807;
}

.link_header_economia {
    color: #D93D4A;
}

.link_header_economia:hover {
    background-color: #D93D4A;
}

/*buttons*/

#container_header_buttons {
    display: flex;
    margin-top: 1.4vw;
}

header button {
    width: 2.5vw;
    height: 2.5vw;
    border: 0;
    border-radius: 10px;
    background-color: #EBEBEB;
}

#search_container {
    display: flex;
}

#search_button {
    padding: 0;
    height: 2.5vw;
    width: 2.5vw;
    border: 0;
}

#search_button:hover, button:hover {
    border: 0.15vw solid #141414;
}

#search_button svg {
    width: 1.5vw;
    height: 1.5vw;
    color: #141414;
}

#search_button svg:hover {
    width: 1.3vw;
    height: 1.3vw;
}

#search_bar {
    height: 2.5vw;
}
.modal{
    margin-top: 17vh;
}
#entrar{
   background-color: #1D4988;
    width: max-content;
    color: #fcffff;
}
.modal-backdrop {
    z-index: 9;
}
/*     main    */

main{
    background-color: #ebebeb;
}

main h1 {
    margin-left: 1vw;
    margin-bottom: 1vw;
    text-align: center;
    color: #141414;
}

/*cotações*/
#section_cotacoes {
    border-bottom: 0.15vw dotted #1d4988;
    margin-bottom: 1vw;
}

#container_cotacoes {
    margin-top: 7vw;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.cotacao_item {
    color: #f7f7f7;
    background-color: #1d4988;
    border-radius: 5px;
}

.cotacao_item p {
    margin: 0.2vw 0.6vw;
}

/*carrossel*/
.carousel {
    min-height: auto;
    max-height: 73vh;
    width: 97%;
    margin: 0 auto 1vw auto;
}


.pag_sem_cotacoes {
    margin-top: 7vw;
    max-height: 80vh;
}

.pag_sem_cotacoes img {
    max-height: 80vh;
}

.img_carrossel {
    width: max-content;
    min-height: auto;
    max-height: 73vh;
    aspect-ratio: 16/9;
}

#carousel_control_next, #carousel_control_prev {
    border-style: none;
}

/*titulo do carrossel*/
.titulo_carrossel {
    display: inline-block;
    text-align: center;
    padding: 0.2vw 0.6vw;
    color: #141414;
    background: #f7f7f774;
    border-radius: 2px;
}

.carousel-item a {
    text-decoration: none;
}

.carousel-item h2 {
    font-size: 2.5vw;
}

.carousel-item h2:hover {
    font-size: 2vw;
}

/*artigos*/

#artigos {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 60vh 10vh 60vh;
    justify-content: space-around;
    row-gap: 1.3vw;
    margin-bottom: 3vw;
}

.noticia_main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 45%;
    background-color: #fcffff;
}

.noticia_main:hover {
    scale: 1.03;
}

.noticia_main img {
    width: 90%;
    aspect-ratio: 16/9;
    margin: auto 5%;
    padding: 2% 0;
    border-radius: 2px;
}

.noticia_main a {
    text-decoration: none;
}

.noticia_main a p, .noticia_main a h4 {
    margin-left: 5%;
    margin-right: 5%;
}

.noticia_main a:hover {
    text-decoration: underline #1d4988;
}

.noticia_main h4 {
    text-align: center;
    color: #141414;
    font-size: 1.5vw;
}

.descricao_da_noticia {
    text-align: justify;
    font-size: 1vw;
    color: #141414;
    margin-left: 1%;
    margin-right: 1%;
}

.informacoes_da_noticia {
    width: 100%;
    font-size: 0.7vw;
    color: #141414;
    text-align: end;
    justify-self: end;
    border-top: 0.1vw dotted #737373;
    padding: 0.1vw 0.5vw 0.5vw 0;
}


/*add*/
.add{
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url(../img/index_img/add.jpg);
    background-size: cover;
    text-decoration: none;
    border: 0.1vw solid #141414;
}

.add img {
    height: 9.8vh;
    width: 100%;
}

/*   pagina de noticia aberta   */
#main_da_noticia_aberta {
    padding: 7vw 0 1vw 0;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-auto-rows: min-content;
}

#main_da_noticia_aberta article {
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 8;
    padding: 1vw;
    background-color: #F7F7F7;
}

#main_da_noticia_aberta h2 {
    font-size: 1.4vw;
}

.informacoes_da_noticia_aberta {
    font-size: 0.7vw;
}

#main_da_noticia_aberta p {
    text-align: justify;
    font-size: 1.1vw;
}

#main_da_noticia_aberta article img {
    width: 60%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 10px;
    margin: 1vw 20%;
}

#add_1_noticia_aberta {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
}

#add_2_noticia_aberta {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 7;
}

.add_da_noticia_aberta {
    width: 100%;
    height: 60vh;
    border: 0.1vw solid #141414;
}

#add_mobile {
    display: none;
}

/*titulo de seção*/
.titulo_de_secao {
    padding: 1vw 0;
    margin: 2vw 0;
    background-color: #1d4988;
    color: #F7F7F7;
}

/*     sobre nós     */
/* main do sobre nós */
#section_principal_do_sobre_nos {
    margin: 7vw 17% 1vw 17%;
    padding: 1vw;
    background-color: #F7F7F7;
}

/*section sobre a empresa*/
#section_sobre_empresa, #section_sobre_membros {
    border-bottom: 0.2vw dotted #1d4988;
}

.p_do_sobre_nos {
    font-size: 1.1vw;
}

#info_sobre_empresa {
    font-size: 1.3vw;
}

#logo_mais_titulo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#logo_do_sobre_nos {
    height: auto;
    width: 100%;
}

#titulo_do_sobre_nos {
    text-align: center;
    margin: auto;
}

/*section sobre os membros*/
.titulo_da_section_sobre_nos {
    color: #1d4988;
    font-size: 3vw;
}

.descricao_dos_membros {
    display: flex;
}

.descricao_dos_membros img {
    width: 10%;
    height: 10%;
}

.descricao_dos_membros div {
    margin-left: 1vw;
}

/*section sobre os serviços*/
.container_dos_servicos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2vw;
}

.container_dos_servicos img {
    width: 100%;
    padding: 0.5vw;
    margin: auto;
}

.container_dos_servicos div {
    margin: auto;
    text-align: center;
}

#container_economia {
    margin-bottom: 0;
}

/*     footer     */
footer {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #1d4988;
    color: #fcffff;
}

/*social media e links de pags*/
#lists_e_footlogo_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
}

footer li {
    width: 100%;
    margin-bottom: 0.3vw;
}

footer ul li a {
    text-decoration: none;
    color: #F7F7F7;
}

footer ul li p {
    width: 12vw;
    margin: 0 auto;
}

/*logo do footer*/
#link_logo_do_footer {
    width: 30%;
    height: max-content;
    margin: auto 0;
}

#logo_do_footer {
    width: 60%;
    height: auto;
    margin: 2% 20% 3%;
}

/*direitos reservados*/
#footer_direitos {
    display: block;
    height: max-content;
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
    background: #2B2B2B;
    box-shadow: 0px 0px 3px 3px #1414147f;
}

/*     mobile     */
@media (max-width:475px) {
    /*     header     */
    #logo_header_desktop, #container_das_categorias, #botao_de_login, #botao_home {
        display: none;
    }

    header {
        height: 11vh;
        border-bottom: 2vw solid #1d4988;
    }

    #pag_empregos {
        border-bottom-color: #137AAD;
    }

    #pag_educacao {
        border-bottom-color: #7478AD;
    }

    #pag_esportes {
        border-bottom-color: #51BF2C;
    }

    #pag_entretenimento {
        border-bottom-color: #F3A807;
    }

    #pag_economia {
        border-bottom-color: #D93D4A;
    }

    /*hamburger menu*/
    #menu_hamburger {
        display: block;
        padding: 0.5vw;
        order: 1;
    }

    header button {
        width: max-content;
        height: max-content;
        margin-top: auto;
        margin-bottom: auto;
    }

    header button:hover {
        border: 0.15vw solid #141414;
    }

    header button svg {
        width: 8vw;
        height: 8vw;
    }

    /*logo*/
    #container_da_logo {
        order: 2;
    }

    #logo_header_mobile {
        display: block;
        height: 9vh;
        margin: 0.5vh;
    }

    /*search*/
    #container_header_buttons {
        order: 3;
        max-width: 30%;
        margin: 0;
    }

    #search_button {
        width: max-content;
        height: max-content;
        margin: auto 0;
        padding: 0.5vw;
        padding-top: 0.5vw;
    }

    #search_button svg {
        width: 6vw;
        height: 6vw;
    }

    #search_button:hover {
        width: max-content;
        height: max-content;
        padding: 1vw;
        margin: auto 0;
    }

    #search_button svg:hover {
        width: 5vw;
        height: 5vw;
    }

    #search_bar {
        height: 7vw;
        margin: auto 0;
    }

    /*barra lateral*/
    .offcanvas, .offcanvas-start {
        width: 60% !important;
    }

    .links_paginas_categorias {
        flex-direction: column;
        row-gap: 7vw;
        margin: 0;
        padding: 0;
    }

    .links_paginas_categorias li{
        margin: 0;
        border-bottom: 0.1vw solid #1d4988;
    }

    .links_paginas_categorias a {
        font-size: 6vw;
    }

    .link_do_aside {
        color: #1d4988;
    }

    .link_do_aside:hover {
        color: #1d4988;
    }

    /*     main mobile     */
    /*cotacoes*/
    #section_cotacoes {
        margin-top: 12vh;
        border-bottom: 0.6vw dotted #1d4988;
    }
    
    #container_cotacoes {
        flex-wrap: wrap;
        row-gap: 1.5vw;
        margin: 0 0 1.5vw;
        padding: 0;
    }
    
    #cotacao_item4 {
        display: none;
    }

    /*carrossel*/
    .carousel {
        width: 98%;
        max-height: 35vh;
        margin-top: 1vh;
    }

    .img_carrossel {
        width: max-content;
        max-height: 35vh;
        aspect-ratio: 16/9;
    }

    .carousel-indicators {
        display: none;
    }

    .pag_sem_cotacoes {
        margin-top: 12vh;
    }

    /*titulo do carrossel*/
    .carousel-caption {
        bottom: 0;
        right: 0;
        left: 0;
        width: 95%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .titulo_carrossel {
        display: inline-block;
    }
    
    .carousel-item h2 {
        font-size: 5vw;
    }
    
    .carousel-item h2:hover {
        font-size: 4.5vw;
    }

    /*artigos*/
    #artigos {
        display: block;
        padding: 1%;
    }

    .noticia_main {
        display: block;
        margin-bottom: 1vh;
    }

    .noticia_main:hover {
        scale: 1;
    }

    .noticia_main h4 {
        font-size: 5vw;
        padding-top: 1vh;
        padding-bottom: 3vh;
    }

    .descricao_da_noticia, .informacoes_da_noticia {
        display: none;
    }

    .informacoes_da_noticia {
        font-size: 2.5vw;
    }

    /*add*/
    .add {
        width: 100%;
        height: max-content;
        margin-bottom: 2vh;
    }

    /*pagina aberta*/
    /*main*/
    #main_da_noticia_aberta{
        display: block;
        margin: 12vh 2.5% 1vh;
        padding: 0;
    }

    #main_da_noticia_aberta article {
        background-color: #F7F7F7;
    }

    #main_da_noticia_aberta h1 {
        font-size: 9vw;
    }

    #main_da_noticia_aberta h2 {
        font-size: 4.8vw;
    }

    #main_da_noticia_aberta h3 {
        width: max-content;
        max-width: 70%;
        font-size: 3vw;
        margin-left: auto;
        margin-right: 0;
    }

    #main_da_noticia_aberta p {
        font-size: 4vw;
    }

    #main_da_noticia_aberta article img {
        width: 95%;
        margin-left: 2.5%;
        margin-right: auto;
    }

    /*add*/
    #add_1_noticia_aberta, #add_2_noticia_aberta {
        display: none;
    }

    #add_mobile {
        display: block;
        border: 0.1vw solid #141414;
    }

    #img_add_mobile {
        width: 100%;
    }

    /*     pagina sobre nós     */
    /* main do sobre nós */
    /*sobre empresa*/
    #section_principal_do_sobre_nos {
        margin: 0 1% 1%;
    }

    #logo_mais_titulo {
        display: flex;
        flex-direction: column;
    }

    #logo_do_sobre_nos {
        order: 2;
        width: 85%;
        margin: 0 auto;
    }

    #titulo_do_sobre_nos {
        order: 1;
        margin-bottom: 1vw;
    }

    #info_sobre_empresa {
        font-size: 3.6vw;
    }

    .p_do_sobre_nos {
        font-size: 3.8vw;
    }

    /*sobre membros*/
    .titulo_da_section_sobre_nos {
        font-size: 8vw;
    }

    .descricao_dos_membros img {
        width: 20%;
    }

    /*sobre serviços*/
    .container_dos_servicos {
        display: flex;
        flex-direction: column;
        margin-bottom: 3vw;
    }

    .container_dos_servicos div {
        order: 1;
    }

    .container_dos_servicos img {
        order: 2;
    }

    #container_economia {
        margin-bottom: 0vw;
    }

    /*     footer     */
    footer span {
        display: none;
    }

    /*logo do footer*/
    #link_do_logo_footer {
        order: 1;
    }

    #logo_do_footer {
        margin: 2% 20% 0;
    }

    /*social media e links*/
    footer ul {
        margin: 3% 0;
        padding: 0;
    }

    #container_social_media {
        order: 2;
        width: 50%;
    }

    #container_links_de_pags {
        order: 3;
        width: 50%;
    }

    footer ul li {
        width: 50%;
    }

    /*direitos reservados*/
    #footer_direitos {
        margin: 0;
    }
}


.form-label{
    color: #141414;
}
#contactModalLabel{
    color: #141414;
}